:root {
    --primary: #001C55;
    --secondary: #1F305E;
    --accent: #C7CCDD;
    --light: #E9EDF3;
}

html, body {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
    width: 0px;
}




#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    color: var(--light);
}
#header h1 {
    margin-left: 10px;
}

.mainview {
    visibility: hidden;
    position: absolute;
    overflow: auto;
    top:100px;
    width: 100%;
    height: calc(100% - 200px);
    background-color: var(--light);
    overflow-wrap: break-word;
}
#dayDisplay {
    width: 100%;
    height: calc(100% - 33px);
    top: 33px;
    overflow: auto;
    position: absolute;
}
.event-block {
    overscroll-behavior: auto;
}
.datepicker{
    display: flex;
    height: 30px;
}

.datepicker div {
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: solid 3px var(--primary);
}
.datepicker button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: solid 0px;
    color:var(--primary);
    border-radius: 20px;
}
#p4 button {
    background-color: var(--secondary);
    color: white;
    border: 3px solid white;
}
#timeBar{
    height:3px;
    width: 100%;
    background-color: var(--secondary)
}


#peopleDisplay {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.person {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
}
#taskDisplay {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
    box-sizing: border-box;
}
#taskDisplay h1 {
    margin:10px;
}
.task {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
}
.completeTask {
    background-color: var(--primary);
    border: solid 3px var(--accent);
    color: var(--light);
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}
.removeTask {
    background-color: var(--light);
    border: solid 3px var(--accent);
    color: var(--primary);
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
}


.plusButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: var(--primary);
    border: solid 3px var(--accent);
    color: var(--light);
}

.secondButton {
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border-radius: 10px;
    background-color: var(--primary);
    border: solid 3px var(--accent);
    color: var(--light);
}

#goalDisplay {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.dailyHabit {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 500px;
}

.habitHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.habitHeader h1 {
    padding: 3px 0px 0px 0px;
}

.habitHeader h2 {
    border: solid 3px var(--primary);
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;
    background-color: var(--light);
    align-self: baseline;
}

.habitCalendar {
    border: solid 3px var(--primary);
    background-color: var(--light);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
}
.dailyHabit button {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    border: solid 3px var(--primary);
}
.emptyDay {
    background-color: var(--accent);
}
.goodDay {
    background-color: #A9D1C4;
}
.badDay {
    background-color: #F1B2BC;
}

.steppingStones {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
}

.stoneHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.stoneHeader h1 {
    padding: 3px 0px 0px 0px;
}

.stoneHeader h2 {
    border: solid 3px var(--primary);
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;
    background-color: var(--light);
    align-self: baseline;
}

.steppingStones p {
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--light);
    border: solid 3px var(--accent);
}




#homeDisplay {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.homeGoalTile {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.homeGoalTile h2 {
    border: solid 3px var(--primary);
    border-radius: 10px;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    background-color: var(--light);
    justify-self: end;
}

.eventsToday {
    width: calc(100% - 45px);
    margin: 10px;
    padding: 10px;
    border: solid 3px var(--secondary);
    border-radius: 10px;
    background-color: #ffffff;
}

.eventsToday p {
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--light);
    border: solid 3px var(--accent);
}






#blanket {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
#syncWindow {
    visibility: hidden;
    position: absolute;
    top:100px;
    width: 100%;
    height: calc(100% - 200px);
    background-color: var(--light);
    color: var(--primary);
    align-content: center;
    text-align: center;
}
.popup{
    width: calc(100% - 100px);
    height: fit-content;
    max-height: 80%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    border: solid 3px var(--secondary);
    border-radius: 10px;
    visibility: hidden;
}
.popup input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 3px var(--accent);
    padding-left: 3px;
}

.popup textarea {
    width: 100%;
    height: 4em;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 3px var(--accent);
    padding: 3px;
}

.popup button {
    border-radius: 10px;
    background-color: var(--primary);
    border: solid 3px var(--accent);
    color: var(--light);
    width: 100%;
    margin-top: 10px;
}

#nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#nav a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light);
    background-color: var(--primary);
}

#nav a:hover {
    background-color: var(--secondary);
}